@font-face {
  font-family: "fonticon";
  src: url('/assets/fonts/fonticon.eot');
  src: url('/assets/fonts/fonticon.eot?#iefix') format('eot'),
    url('/assets/fonts/fonticon.woff') format('woff'),
    url('/assets/fonts/fonticon.ttf') format('truetype'),
    url('/assets/fonts/fonticon.svg#fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$fonticon-address: 'address' "\E001";
$fonticon-adjust: 'adjust' "\E002";
$fonticon-air: 'air' "\E003";
$fonticon-alert: 'alert' "\E004";
$fonticon-archive: 'archive' "\E005";
$fonticon-arrow-combo: 'arrow-combo' "\E006";
$fonticon-arrows-ccw: 'arrows-ccw' "\E007";
$fonticon-attach: 'attach' "\E008";
$fonticon-attention: 'attention' "\E009";
$fonticon-back-in-time: 'back-in-time' "\E00A";
$fonticon-back: 'back' "\E00B";
$fonticon-bag: 'bag' "\E00C";
$fonticon-basket: 'basket' "\E00D";
$fonticon-battery: 'battery' "\E00E";
$fonticon-behance: 'behance' "\E00F";
$fonticon-bell: 'bell' "\E010";
$fonticon-block: 'block' "\E011";
$fonticon-book-open: 'book-open' "\E012";
$fonticon-book: 'book' "\E013";
$fonticon-bookmark: 'bookmark' "\E014";
$fonticon-bookmarks: 'bookmarks' "\E015";
$fonticon-box: 'box' "\E016";
$fonticon-briefcase: 'briefcase' "\E017";
$fonticon-brush: 'brush' "\E018";
$fonticon-bucket: 'bucket' "\E019";
$fonticon-calendar: 'calendar' "\E01A";
$fonticon-camera: 'camera' "\E01B";
$fonticon-cancel-circled: 'cancel-circled' "\E01C";
$fonticon-cancel-squared: 'cancel-squared' "\E01D";
$fonticon-cancel: 'cancel' "\E01E";
$fonticon-cc-by: 'cc-by' "\E01F";
$fonticon-cc-nc-eu: 'cc-nc-eu' "\E020";
$fonticon-cc-nc-jp: 'cc-nc-jp' "\E021";
$fonticon-cc-nc: 'cc-nc' "\E022";
$fonticon-cc-nd: 'cc-nd' "\E023";
$fonticon-cc-pd: 'cc-pd' "\E024";
$fonticon-cc-remix: 'cc-remix' "\E025";
$fonticon-cc-sa: 'cc-sa' "\E026";
$fonticon-cc-share: 'cc-share' "\E027";
$fonticon-cc-zero: 'cc-zero' "\E028";
$fonticon-cc: 'cc' "\E029";
$fonticon-ccw: 'ccw' "\E02A";
$fonticon-cd: 'cd' "\E02B";
$fonticon-chart-area: 'chart-area' "\E02C";
$fonticon-chart-bar: 'chart-bar' "\E02D";
$fonticon-chart-line: 'chart-line' "\E02E";
$fonticon-chart-pie: 'chart-pie' "\E02F";
$fonticon-chat: 'chat' "\E030";
$fonticon-check: 'check' "\E031";
$fonticon-clipboard: 'clipboard' "\E032";
$fonticon-clock: 'clock' "\E033";
$fonticon-cloud-thunder: 'cloud-thunder' "\E034";
$fonticon-cloud: 'cloud' "\E035";
$fonticon-code: 'code' "\E036";
$fonticon-cog: 'cog' "\E037";
$fonticon-comment: 'comment' "\E038";
$fonticon-compass: 'compass' "\E039";
$fonticon-credit-card: 'credit-card' "\E03A";
$fonticon-cup: 'cup' "\E03B";
$fonticon-cw: 'cw' "\E03C";
$fonticon-database: 'database' "\E03D";
$fonticon-db-shape: 'db-shape' "\E03E";
$fonticon-direction: 'direction' "\E03F";
$fonticon-doc-landscape: 'doc-landscape' "\E040";
$fonticon-doc-text-inv: 'doc-text-inv' "\E041";
$fonticon-doc-text: 'doc-text' "\E042";
$fonticon-doc: 'doc' "\E043";
$fonticon-docs: 'docs' "\E044";
$fonticon-dot-2: 'dot-2' "\E045";
$fonticon-dot-3: 'dot-3' "\E046";
$fonticon-dot: 'dot' "\E047";
$fonticon-down-bold: 'down-bold' "\E048";
$fonticon-down-circled: 'down-circled' "\E049";
$fonticon-down-dir: 'down-dir' "\E04A";
$fonticon-down-open-big: 'down-open-big' "\E04B";
$fonticon-down-open-mini: 'down-open-mini' "\E04C";
$fonticon-down-open: 'down-open' "\E04D";
$fonticon-down-thin: 'down-thin' "\E04E";
$fonticon-down: 'down' "\E04F";
$fonticon-download: 'download' "\E050";
$fonticon-dribbble-circled: 'dribbble-circled' "\E051";
$fonticon-dribbble: 'dribbble' "\E052";
$fonticon-drive: 'drive' "\E053";
$fonticon-dropbox: 'dropbox' "\E054";
$fonticon-droplet: 'droplet' "\E055";
$fonticon-erase: 'erase' "\E056";
$fonticon-evernote: 'evernote' "\E057";
$fonticon-export: 'export' "\E058";
$fonticon-eye: 'eye' "\E059";
$fonticon-facebook-circled: 'facebook-circled' "\E05A";
$fonticon-facebook-squared: 'facebook-squared' "\E05B";
$fonticon-facebook: 'facebook' "\E05C";
$fonticon-fast-backward: 'fast-backward' "\E05D";
$fonticon-fast-forward: 'fast-forward' "\E05E";
$fonticon-feather: 'feather' "\E05F";
$fonticon-flag: 'flag' "\E060";
$fonticon-flash: 'flash' "\E061";
$fonticon-flashlight: 'flashlight' "\E062";
$fonticon-flattr: 'flattr' "\E063";
$fonticon-flickr-circled: 'flickr-circled' "\E064";
$fonticon-flickr: 'flickr' "\E065";
$fonticon-flight: 'flight' "\E066";
$fonticon-floppy: 'floppy' "\E067";
$fonticon-flow-branch: 'flow-branch' "\E068";
$fonticon-flow-cascade: 'flow-cascade' "\E069";
$fonticon-flow-line: 'flow-line' "\E06A";
$fonticon-flow-parallel: 'flow-parallel' "\E06B";
$fonticon-flow-tree: 'flow-tree' "\E06C";
$fonticon-folder: 'folder' "\E06D";
$fonticon-forward: 'forward' "\E06E";
$fonticon-gauge: 'gauge' "\E06F";
$fonticon-github-circled: 'github-circled' "\E070";
$fonticon-github: 'github' "\E071";
$fonticon-globe: 'globe' "\E072";
$fonticon-google-circles: 'google-circles' "\E073";
$fonticon-gplus-circled: 'gplus-circled' "\E074";
$fonticon-gplus: 'gplus' "\E075";
$fonticon-graduation-cap: 'graduation-cap' "\E076";
$fonticon-heart-empty: 'heart-empty' "\E077";
$fonticon-heart: 'heart' "\E078";
$fonticon-help-circled: 'help-circled' "\E079";
$fonticon-help: 'help' "\E07A";
$fonticon-home: 'home' "\E07B";
$fonticon-hourglass: 'hourglass' "\E07C";
$fonticon-inbox: 'inbox' "\E07D";
$fonticon-infinity: 'infinity' "\E07E";
$fonticon-info-circled: 'info-circled' "\E07F";
$fonticon-info: 'info' "\E080";
$fonticon-instagram: 'instagram' "\E081";
$fonticon-install: 'install' "\E082";
$fonticon-key: 'key' "\E083";
$fonticon-keyboard: 'keyboard' "\E084";
$fonticon-lamp: 'lamp' "\E085";
$fonticon-language: 'language' "\E086";
$fonticon-lastfm-circled: 'lastfm-circled' "\E087";
$fonticon-lastfm: 'lastfm' "\E088";
$fonticon-layout: 'layout' "\E089";
$fonticon-leaf: 'leaf' "\E08A";
$fonticon-left-bold: 'left-bold' "\E08B";
$fonticon-left-circled: 'left-circled' "\E08C";
$fonticon-left-dir: 'left-dir' "\E08D";
$fonticon-left-open-big: 'left-open-big' "\E08E";
$fonticon-left-open-mini: 'left-open-mini' "\E08F";
$fonticon-left-open: 'left-open' "\E090";
$fonticon-left-thin: 'left-thin' "\E091";
$fonticon-left: 'left' "\E092";
$fonticon-level-down: 'level-down' "\E093";
$fonticon-level-up: 'level-up' "\E094";
$fonticon-lifebuoy: 'lifebuoy' "\E095";
$fonticon-light-down: 'light-down' "\E096";
$fonticon-light-up: 'light-up' "\E097";
$fonticon-link: 'link' "\E098";
$fonticon-linkedin-circled: 'linkedin-circled' "\E099";
$fonticon-linkedin: 'linkedin' "\E09A";
$fonticon-list-add: 'list-add' "\E09B";
$fonticon-list: 'list' "\E09C";
$fonticon-location: 'location' "\E09D";
$fonticon-lock-open: 'lock-open' "\E09E";
$fonticon-lock: 'lock' "\E09F";
$fonticon-login: 'login' "\E0A0";
$fonticon-logo-db: 'logo-db' "\E0A1";
$fonticon-logout: 'logout' "\E0A2";
$fonticon-loop: 'loop' "\E0A3";
$fonticon-magnet: 'magnet' "\E0A4";
$fonticon-mail: 'mail' "\E0A5";
$fonticon-map: 'map' "\E0A6";
$fonticon-megaphone: 'megaphone' "\E0A7";
$fonticon-menu: 'menu' "\E0A8";
$fonticon-mic: 'mic' "\E0A9";
$fonticon-minus-circled: 'minus-circled' "\E0AA";
$fonticon-minus-squared: 'minus-squared' "\E0AB";
$fonticon-minus: 'minus' "\E0AC";
$fonticon-mixi: 'mixi' "\E0AD";
$fonticon-mobile: 'mobile' "\E0AE";
$fonticon-monitor: 'monitor' "\E0AF";
$fonticon-moon: 'moon' "\E0B0";
$fonticon-mouse: 'mouse' "\E0B1";
$fonticon-music: 'music' "\E0B2";
$fonticon-mute: 'mute' "\E0B3";
$fonticon-network: 'network' "\E0B4";
$fonticon-newspaper: 'newspaper' "\E0B5";
$fonticon-note-beamed: 'note-beamed' "\E0B6";
$fonticon-note: 'note' "\E0B7";
$fonticon-palette: 'palette' "\E0B8";
$fonticon-paper-plane: 'paper-plane' "\E0B9";
$fonticon-pause: 'pause' "\E0BA";
$fonticon-paypal: 'paypal' "\E0BB";
$fonticon-pencil: 'pencil' "\E0BC";
$fonticon-phone: 'phone' "\E0BD";
$fonticon-picasa: 'picasa' "\E0BE";
$fonticon-picture: 'picture' "\E0BF";
$fonticon-pinterest-circled: 'pinterest-circled' "\E0C0";
$fonticon-pinterest: 'pinterest' "\E0C1";
$fonticon-play: 'play' "\E0C2";
$fonticon-plus-circled: 'plus-circled' "\E0C3";
$fonticon-plus-squared: 'plus-squared' "\E0C4";
$fonticon-plus: 'plus' "\E0C5";
$fonticon-popup: 'popup' "\E0C6";
$fonticon-print: 'print' "\E0C7";
$fonticon-progress-0: 'progress-0' "\E0C8";
$fonticon-progress-1: 'progress-1' "\E0C9";
$fonticon-progress-2: 'progress-2' "\E0CA";
$fonticon-progress-3: 'progress-3' "\E0CB";
$fonticon-publish: 'publish' "\E0CC";
$fonticon-qq: 'qq' "\E0CD";
$fonticon-quote: 'quote' "\E0CE";
$fonticon-rdio-circled: 'rdio-circled' "\E0CF";
$fonticon-rdio: 'rdio' "\E0D0";
$fonticon-record: 'record' "\E0D1";
$fonticon-renren: 'renren' "\E0D2";
$fonticon-reply-all: 'reply-all' "\E0D3";
$fonticon-reply: 'reply' "\E0D4";
$fonticon-resize-full: 'resize-full' "\E0D5";
$fonticon-resize-small: 'resize-small' "\E0D6";
$fonticon-retweet: 'retweet' "\E0D7";
$fonticon-right-bold: 'right-bold' "\E0D8";
$fonticon-right-circled: 'right-circled' "\E0D9";
$fonticon-right-dir: 'right-dir' "\E0DA";
$fonticon-right-open-big: 'right-open-big' "\E0DB";
$fonticon-right-open-mini: 'right-open-mini' "\E0DC";
$fonticon-right-open: 'right-open' "\E0DD";
$fonticon-right-thin: 'right-thin' "\E0DE";
$fonticon-right: 'right' "\E0DF";
$fonticon-rocket: 'rocket' "\E0E0";
$fonticon-rss: 'rss' "\E0E1";
$fonticon-search: 'search' "\E0E2";
$fonticon-share: 'share' "\E0E3";
$fonticon-shareable: 'shareable' "\E0E4";
$fonticon-shuffle: 'shuffle' "\E0E5";
$fonticon-signal: 'signal' "\E0E6";
$fonticon-sina-weibo: 'sina-weibo' "\E0E7";
$fonticon-skype-circled: 'skype-circled' "\E0E8";
$fonticon-skype: 'skype' "\E0E9";
$fonticon-smashing: 'smashing' "\E0EA";
$fonticon-sound: 'sound' "\E0EB";
$fonticon-soundcloud: 'soundcloud' "\E0EC";
$fonticon-spotify-circled: 'spotify-circled' "\E0ED";
$fonticon-spotify: 'spotify' "\E0EE";
$fonticon-star-empty: 'star-empty' "\E0EF";
$fonticon-star: 'star' "\E0F0";
$fonticon-stop: 'stop' "\E0F1";
$fonticon-stumbleupon-circled: 'stumbleupon-circled' "\E0F2";
$fonticon-stumbleupon: 'stumbleupon' "\E0F3";
$fonticon-suitcase: 'suitcase' "\E0F4";
$fonticon-sweden: 'sweden' "\E0F5";
$fonticon-switch: 'switch' "\E0F6";
$fonticon-tag: 'tag' "\E0F7";
$fonticon-tape: 'tape' "\E0F8";
$fonticon-target: 'target' "\E0F9";
$fonticon-thermometer: 'thermometer' "\E0FA";
$fonticon-thumbs-down: 'thumbs-down' "\E0FB";
$fonticon-thumbs-up: 'thumbs-up' "\E0FC";
$fonticon-ticket: 'ticket' "\E0FD";
$fonticon-to-end: 'to-end' "\E0FE";
$fonticon-to-start: 'to-start' "\E0FF";
$fonticon-tools: 'tools' "\E100";
$fonticon-traffic-cone: 'traffic-cone' "\E101";
$fonticon-trash: 'trash' "\E102";
$fonticon-trophy: 'trophy' "\E103";
$fonticon-tumblr-circled: 'tumblr-circled' "\E104";
$fonticon-tumblr: 'tumblr' "\E105";
$fonticon-twitter-circled: 'twitter-circled' "\E106";
$fonticon-twitter: 'twitter' "\E107";
$fonticon-up-bold: 'up-bold' "\E108";
$fonticon-up-circled: 'up-circled' "\E109";
$fonticon-up-dir: 'up-dir' "\E10A";
$fonticon-up-open-big: 'up-open-big' "\E10B";
$fonticon-up-open-mini: 'up-open-mini' "\E10C";
$fonticon-up-open: 'up-open' "\E10D";
$fonticon-up-thin: 'up-thin' "\E10E";
$fonticon-up: 'up' "\E10F";
$fonticon-upload-cloud: 'upload-cloud' "\E110";
$fonticon-upload: 'upload' "\E111";
$fonticon-user-add: 'user-add' "\E112";
$fonticon-user: 'user' "\E113";
$fonticon-users: 'users' "\E114";
$fonticon-vcard: 'vcard' "\E115";
$fonticon-video: 'video' "\E116";
$fonticon-vimeo-circled: 'vimeo-circled' "\E117";
$fonticon-vimeo: 'vimeo' "\E118";
$fonticon-vkontakte: 'vkontakte' "\E119";
$fonticon-volume: 'volume' "\E11A";
$fonticon-water: 'water' "\E11B";
$fonticon-window: 'window' "\E11C";


$fonticon: $fonticon-address $fonticon-adjust $fonticon-air $fonticon-alert $fonticon-archive $fonticon-arrow-combo $fonticon-arrows-ccw $fonticon-attach $fonticon-attention $fonticon-back-in-time $fonticon-back $fonticon-bag $fonticon-basket $fonticon-battery $fonticon-behance $fonticon-bell $fonticon-block $fonticon-book-open $fonticon-book $fonticon-bookmark $fonticon-bookmarks $fonticon-box $fonticon-briefcase $fonticon-brush $fonticon-bucket $fonticon-calendar $fonticon-camera $fonticon-cancel-circled $fonticon-cancel-squared $fonticon-cancel $fonticon-cc-by $fonticon-cc-nc-eu $fonticon-cc-nc-jp $fonticon-cc-nc $fonticon-cc-nd $fonticon-cc-pd $fonticon-cc-remix $fonticon-cc-sa $fonticon-cc-share $fonticon-cc-zero $fonticon-cc $fonticon-ccw $fonticon-cd $fonticon-chart-area $fonticon-chart-bar $fonticon-chart-line $fonticon-chart-pie $fonticon-chat $fonticon-check $fonticon-clipboard $fonticon-clock $fonticon-cloud-thunder $fonticon-cloud $fonticon-code $fonticon-cog $fonticon-comment $fonticon-compass $fonticon-credit-card $fonticon-cup $fonticon-cw $fonticon-database $fonticon-db-shape $fonticon-direction $fonticon-doc-landscape $fonticon-doc-text-inv $fonticon-doc-text $fonticon-doc $fonticon-docs $fonticon-dot-2 $fonticon-dot-3 $fonticon-dot $fonticon-down-bold $fonticon-down-circled $fonticon-down-dir $fonticon-down-open-big $fonticon-down-open-mini $fonticon-down-open $fonticon-down-thin $fonticon-down $fonticon-download $fonticon-dribbble-circled $fonticon-dribbble $fonticon-drive $fonticon-dropbox $fonticon-droplet $fonticon-erase $fonticon-evernote $fonticon-export $fonticon-eye $fonticon-facebook-circled $fonticon-facebook-squared $fonticon-facebook $fonticon-fast-backward $fonticon-fast-forward $fonticon-feather $fonticon-flag $fonticon-flash $fonticon-flashlight $fonticon-flattr $fonticon-flickr-circled $fonticon-flickr $fonticon-flight $fonticon-floppy $fonticon-flow-branch $fonticon-flow-cascade $fonticon-flow-line $fonticon-flow-parallel $fonticon-flow-tree $fonticon-folder $fonticon-forward $fonticon-gauge $fonticon-github-circled $fonticon-github $fonticon-globe $fonticon-google-circles $fonticon-gplus-circled $fonticon-gplus $fonticon-graduation-cap $fonticon-heart-empty $fonticon-heart $fonticon-help-circled $fonticon-help $fonticon-home $fonticon-hourglass $fonticon-inbox $fonticon-infinity $fonticon-info-circled $fonticon-info $fonticon-instagram $fonticon-install $fonticon-key $fonticon-keyboard $fonticon-lamp $fonticon-language $fonticon-lastfm-circled $fonticon-lastfm $fonticon-layout $fonticon-leaf $fonticon-left-bold $fonticon-left-circled $fonticon-left-dir $fonticon-left-open-big $fonticon-left-open-mini $fonticon-left-open $fonticon-left-thin $fonticon-left $fonticon-level-down $fonticon-level-up $fonticon-lifebuoy $fonticon-light-down $fonticon-light-up $fonticon-link $fonticon-linkedin-circled $fonticon-linkedin $fonticon-list-add $fonticon-list $fonticon-location $fonticon-lock-open $fonticon-lock $fonticon-login $fonticon-logo-db $fonticon-logout $fonticon-loop $fonticon-magnet $fonticon-mail $fonticon-map $fonticon-megaphone $fonticon-menu $fonticon-mic $fonticon-minus-circled $fonticon-minus-squared $fonticon-minus $fonticon-mixi $fonticon-mobile $fonticon-monitor $fonticon-moon $fonticon-mouse $fonticon-music $fonticon-mute $fonticon-network $fonticon-newspaper $fonticon-note-beamed $fonticon-note $fonticon-palette $fonticon-paper-plane $fonticon-pause $fonticon-paypal $fonticon-pencil $fonticon-phone $fonticon-picasa $fonticon-picture $fonticon-pinterest-circled $fonticon-pinterest $fonticon-play $fonticon-plus-circled $fonticon-plus-squared $fonticon-plus $fonticon-popup $fonticon-print $fonticon-progress-0 $fonticon-progress-1 $fonticon-progress-2 $fonticon-progress-3 $fonticon-publish $fonticon-qq $fonticon-quote $fonticon-rdio-circled $fonticon-rdio $fonticon-record $fonticon-renren $fonticon-reply-all $fonticon-reply $fonticon-resize-full $fonticon-resize-small $fonticon-retweet $fonticon-right-bold $fonticon-right-circled $fonticon-right-dir $fonticon-right-open-big $fonticon-right-open-mini $fonticon-right-open $fonticon-right-thin $fonticon-right $fonticon-rocket $fonticon-rss $fonticon-search $fonticon-share $fonticon-shareable $fonticon-shuffle $fonticon-signal $fonticon-sina-weibo $fonticon-skype-circled $fonticon-skype $fonticon-smashing $fonticon-sound $fonticon-soundcloud $fonticon-spotify-circled $fonticon-spotify $fonticon-star-empty $fonticon-star $fonticon-stop $fonticon-stumbleupon-circled $fonticon-stumbleupon $fonticon-suitcase $fonticon-sweden $fonticon-switch $fonticon-tag $fonticon-tape $fonticon-target $fonticon-thermometer $fonticon-thumbs-down $fonticon-thumbs-up $fonticon-ticket $fonticon-to-end $fonticon-to-start $fonticon-tools $fonticon-traffic-cone $fonticon-trash $fonticon-trophy $fonticon-tumblr-circled $fonticon-tumblr $fonticon-twitter-circled $fonticon-twitter $fonticon-up-bold $fonticon-up-circled $fonticon-up-dir $fonticon-up-open-big $fonticon-up-open-mini $fonticon-up-open $fonticon-up-thin $fonticon-up $fonticon-upload-cloud $fonticon-upload $fonticon-user-add $fonticon-user $fonticon-users $fonticon-vcard $fonticon-video $fonticon-vimeo-circled $fonticon-vimeo $fonticon-vkontakte $fonticon-volume $fonticon-water $fonticon-window ;

@mixin fonticon($name) {
    &:before {
        @each $icon in $fonticon {
            $n: index($icon, $name);
            @if $n != null {
                @include  fonticon-content($icon);
            }
        }
        font-family: "fonticon";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @content;
    }
}

@mixin fonticon-content($icon) {
    content: nth($icon, 2);
}